.env
src/menutaste/__pycache__/
tests/__pycache__/
*.pyc
.venv/
venv/
.DS_Store
# Streamlit / Python local files
*.log
*.sqlite3
htmlcov/
dist/
build/
*.egg-info/
.pytest_cache/
.coverage

# temporary files
